{% if item.versionnumber is defined %}
{% set versionnumber = item.versionnumber %}
{% else %}
{% set versionnumber =  now(fmt="%Y%m%d%M") %}
{% endif %}
{% if item.refresh is defined %}
{% set refresh = item.refresh %}
{% else %}
{% set refresh =  dns_default_refresh %}
{% endif %}
{% if item.retry is defined %}
{% set retry = item.retry %}
{% else %}
{% set retry =  dns_default_retry %}
{% endif %}
{% if item.expire is defined %}
{% set expire = item.expire %}
{% else %}
{% set expire =  dns_default_expire %}
{% endif %}
{% if item.negativ_ttl is defined %}
{% set negativ_ttl = item.negativ_ttl %}
{% else %}
{% set negativ_ttl =  dns_default_negativ_ttl %}
{% endif %}
{% if item.slave_servers is defined %}
{% set slaveservers = item.slave_servers %}
{% else %}
{% set slaveservers = slave_servers %}
{% endif %}
{% if item.provider is defined %}
{% set provider = item.provider %}
{% else %}
{% set provider = dns_default_slave_provider %}
{% endif %}
$TTL 3600
@   IN  SOA   {{ ansible_fqdn }}. {{ dns_mailadmin | replace('@','.') }}. (
          {{ versionnumber }}
          {{ refresh }}
          {{ retry }}
          {{ expire }}
          {{ negativ_ttl }} )

; {{ ansible_managed }}

; Server Adresse von diesem Server
@                 IN NS       {{ ansible_fqdn }}.


{% for server in slaveservers[provider] %}
; Slave Servers für {{ provider }} einfügen
@                 IN NS       {{ server }}.
{% endfor %}

{% if item.entries is defined %}
{% for entry in item.entries %}
{{ entry }}
{% endfor %}
{% endif %}