{% if item.versionnumber is defined %}
{% set versionnumber = item.versionnumber %}
{% else %}
{% set versionnumber =  now(fmt="%Y%m%d%M") %}
{% endif %}
{% if item.refresh is defined %}
{% set refresh = item.refresh %}
{% else %}
{% set refresh =  dns_default_refresh %}
{% endif %}
{% if item.retry is defined %}
{% set retry = item.retry %}
{% else %}
{% set retry =  dns_default_retry %}
{% endif %}
{% if item.expire is defined %}
{% set expire = item.expire %}
{% else %}
{% set expire =  dns_default_expire %}
{% endif %}
{% if item.negativ_ttl is defined %}
{% set negativ_ttl = item.negativ_ttl %}
{% else %}
{% set negativ_ttl =  dns_default_negativ_ttl %}
{% endif %}
{% if item.slave_servers is defined %}
{% set slaveservers = item.slave_servers %}
{% else %}
{% set slaveservers = slave_servers %}
{% endif %}
$TTL 3600
@   IN  SOA   {{ ansible_fqdn }}. {{ dns_mailadmin | replace('@','.') }}. (
          {{ versionnumber }}
          {{ refresh }}
          {{ retry }}
          {{ expire }}
          {{ negativ_ttl }} )

; {{ ansible_managed }}

; Server Adresse von diesem Server
@                 IN NS       {{ ansible_fqdn }}.

; Hetzner Hostname nach Kauf zusaetzlicher Domain Option
{% for server in slaveservers %}
@                 IN NS       {{ server }}.
{% endfor %}

; Mail Einstellungen fuer die Domain (Stand: March 2019)
@                 IN MX 10    mail.speicherzugriffsfehler.de.
@                 IN TXT      "v=spf1 include:speicherzugriffsfehler.de ?all"
_dmarc            IN TXT      "v=DMARC1; p=reject"
2018._domainkey   IN TXT      (
                               "v=DKIM1;k=rsa;p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyG7bsO9"
                               "MMMWNXk9exwHqcT7miakfJ3zFBL+EdanbVLZjdAAbftc0OljpqOUTRP0HT/k1kuv638"
                               "6EGhNo5HALwL+T4UaZtLUBoThI6DVJiICiQtxbyjhEKgiT2xz/6wlT2ettmC2qUvEI5"
                               "ZxHqnUKkcKcVHgtaOyxsXWbYkqPjIYvCzs4WrV81I82iEQDzE8cU93RMhGXv84roUhU"
                               "ECd9vRi39umsm8sy4RMnvUCXUUCNElANUQ25J+dlc7OKUq8mbABT+0Ka0a7NuyorI9P"
                               "cqi+UJ+3xKM8MnGWjSZhyBpk3SnEzYFKY3xlsApAD9hIYiKDZRYNaLVCAeqiS9ppAuw"
                               "IDAQAB")

{% if item.entries is defined %}
{% for entry in item.entries %}
{{ entry }}
{% endfor %}
{% endif %}