version: '3.9'

services:
  blogflgltech:
    image: cfluegel/website-blog-flgl-tech:latest
    container_name: sw-blogflgltech
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.siteblogflgltech.entrypoints=https"
      - "traefik.http.routers.siteblogflgltech.rule=(Host(`blog.flgl.tech`))"
      - "traefik.http.routers.siteblogflgltech.tls=true"
      - "traefik.http.routers.siteblogflgltech.tls.certresolver=http"
      - "traefik.http.routers.siteblogflgltech.service=siteblogflgltech"
      - "traefik.http.services.siteblogflgltech.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - proxy

  flgltech:
    image: cfluegel/website-flgl-tech:latest
    container_name: sw-flgltech
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.siteflgltech.entrypoints=https"
      - "traefik.http.routers.siteflgltech.rule=(Host(`flgl.tech`))"
      - "traefik.http.routers.siteflgltech.tls=true"
      - "traefik.http.routers.siteflgltech.tls.certresolver=http"
      - "traefik.http.routers.siteflgltech.service=siteflgltech"
      - "traefik.http.services.siteflgltech.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - proxy

  rdrdarc:
    image: cfluegel/http-redirector:latest
    container_name: rdr-darc
    restart: unless-stopped
    environment:
      DESTINATION: "https://www.darc.de/der-club/distrikte/e/ortsverbaende/10/"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rdrdarc.entrypoints=https"
      - "traefik.http.routers.rdrdarc.rule=(Host(`darc-e10.de`,`www.darc-e10.de`,`echo10.de`,`www.echo10.de`))"
      - "traefik.http.routers.rdrdarc.tls=true"
      - "traefik.http.routers.rdrdarc.tls.certresolver=http"
      - "traefik.http.routers.rdrdarc.service=rdrdarc"
      - "traefik.http.services.rdrdarc.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - proxy

  macgillivray:
    image: cfluegel/website-macgillivray-de:latest
    container_name: sw-macgillivray
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.macgillivray.entrypoints=https"
      - "traefik.http.routers.macgillivray.rule=(Host(`www.macgillivray.de`,`macgillivray.de`))"
      - "traefik.http.routers.macgillivray.tls=true"
      - "traefik.http.routers.macgillivray.tls.certresolver=http"
      - "traefik.http.routers.macgillivray.service=macgillivray"
      - "traefik.http.services.macgillivray.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - proxy

networks:
  proxy:
    external: true