[Interface]
Address =  {{ overlay_network_ip | trim }}/32
PrivateKey = {{ wg_private_key.stdout }}
ListenPort = {{ overlay_network_port }}

{% for host in groups['overlaynetwork'] %}
[Peer]
Endpoint = {{ hostvars[host].inventory_hostname }}:{{ overlay_network_port }}
PublicKey = {{ hostvars[host].wg_public_key.stdout }}
AllowedIPs = {{ hostvars[host].overlay_network_ip | trim }}/32
PersistentKeepalive = 60

{% endfor %}


### Additionally allowed hosts:
{% for host in overlay_additional_hosts %}
[Peer]
# {{ host.name }}
PublicKey = {{ host.wg_public_key }}
AllowedIPs = {{ host.overlay_network_ip | trim }}/32
PersistentKeepalive = 60

{% endfor %}
